timeline-time {
    display: block;
    width: 100%;
    padding-right: 50px;
    padding: 0 0 20px 0;
    left: 20px;
    position: relative;

    span {
        display: block;
        text-align: left;

        &:last-child {
            visibility: hidden;
            font-size: 2.9em;
            color: #3594cb;
        }
    }
}