.survey-container .contentcontainer .codecontainer {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    top:0px;
}
#surveyElement {
    top: 0px;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}