// .scroll-content {
//   // background-color: #42c7ff;
//   display: flex;
//   flex-direction: column;
//   overflow: hidden;
// }

ion-content {
  height: 100vh;
  width: 100%;

  .full-width {
    max-width: 100%;
    min-width: 100%;
    justify-content: start;
  }
  img {
    width: 60%;
    height: auto;
    z-index: 1;
    margin-bottom: 10px;
    // margin: 0 auto;
    // padding: 10px 20px;
  }

  // #cloud-layer {
  //   // background-image: url(/assets/img/Cartoon_Clouds_PNG_Clip_Art-3041.png);
  //   background-size: cover;
  //   width: 100%;
  //   // height: 100%;
  // }

  ion-row {
    align-items: center;
    text-align: center;
  }
  ion-list {
    padding:0px !important;
  }

  ion-item {
    // height: 90%;
    // padding:0px !important;
    // margin: 0px !important;
    border-radius: 30px !important;
    padding-left: 6px !important;
    // margin-bottom: 3px;
    // background-color: #f6f6f6;
    opacity: 0.7;
    font-size: 0.9em;
  }

  ion-list {
    margin: 0;
  }
  .mid-row {
    margin-top: -13px;
  }

  .bottomRow {
    margin-top: 0px;
  }
  .error {
    color: red;
  }

  .login-button {
    width: 100%;
    border-radius: 30px;
    font-size: 0.9em;
    // border: 1px solid #fff;
    // color: #FAB83F;
    // background-color: #39acdc;
  }

  .invalid {
    border: 1px solid #ea6153;
  }
  .small-text {
    color: #FAB83F;
  }
  .white-text {
    color: #fff;
  }

  // width: 100%;
}