h4 {
    padding-top: 25px;
    font-weight: bolder;

}
.circular {
    left: 28%;
    position: relative;
    border: 5px solid #FAB83E;
    border-radius: 50%;
    width: 127px;
    height: 127px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAB83F!important;
    a {
        position: absolute;
        font-weight: bolder;
        top: -35%;
        left: 103%;
        color: #FAB83E;
    }

    .do-survey {
        width: 80%;
    height: 90%;
    }

    .get-paid {
        width: 80%;
    height: 90%;
    }
}