<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Congratulation</ion-title>
    <ion-buttons fill="outline" slot="end">
      <ion-button (click)="dismiss()">
        close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="header" >
    
    <ion-col col-12>
      <div class="ion-text-center">
        <img class="logo" src="assets/img/icon_01_png.png" />
      </div>
    </ion-col>
  
  </ion-row>
  <ion-card>
  <ion-row>
    <ion-col>
      <div class="ion-text-center">
        <h3 class="name">CONGRATULATIONS</h3>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="ion-text-center">
        <p>Points Earned</p>
        <h5 class="name">+10</h5>   
        <p>Total Points: 50</p>  
        <p>Level: 1</p>    
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="ion-text-center">
        <h6 class="name">Kshs.50 has been deposited to your wallet</h6>
      </div>
    </ion-col>
  </ion-row>
</ion-card>
</ion-content>