<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div padding [@flyInBottomFast]="cloudState" id="cloud-layer">

    <ion-row>
      <ion-col>
        <img [@flyInBottomSlow]="logoState" src="assets/img/Design.png" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list inset [@bounceInBottom]="formState">

          <form [formGroup]="loginForm">
            <ion-item lines="inset">
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" formControlName="email" required></ion-input>
            </ion-item>
            <ion-item *ngIf="!loginForm.controls.email.valid  && (loginForm.controls.email.dirty || submitAttempt)">
                    <p>Please enter a valid email.</p>
                </ion-item>

            <ion-item lines="inset">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" formControlName="password" required></ion-input>
            </ion-item>
            <ion-item *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.dirty || submitAttempt)">
                    <p>Please enter a valid password.</p>
                </ion-item>

            
          </form>
          <ion-row>
              <ion-col>
                <ion-button type="submit" color="" class="login-button" (click)="login()"  expand="block">Sign In</ion-button><br>
                <a [routerLink]="['/registration']" class="small-text center-any-object">Don't Have an Account? Sign Up</a><br>
                <a [routerLink]="['/forgot-password']" class="small-text center-any-object">Forgot Password?</a>
              </ion-col>
            </ion-row>

        </ion-list>
      </ion-col>
    </ion-row>

  </div>

</ion-content>