<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <div padding [@flyInBottomFast]="cloudState" id="cloud-layer">

    <ion-row>
      <ion-col>
        <img [@flyInBottomSlow]="logoState" src="assets/img/Design.png" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list inset [@bounceInBottom]="formState">

          <form class="form">
    <ion-item lines="inset">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="inset">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col >
        <ion-button type="submit" color="" class="login-button" expand="block">Sign In</ion-button><br>
        <a [routerLink]="['/forgot-password']" class="small-text center-any-object">Forgot Password?</a>
      </ion-col>
    </ion-row>
  </form>

        </ion-list>
      </ion-col>
    </ion-row>

  </div>
  
</ion-content>