// .example-menu-row {
//     margin-bottom: 24px;
// }

// .example-card {
//     width: 100%;
//     height:100%;
//     background-color: #FAB83F!important;
//   }
  
//   .example-header-image {
//     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//     background-size: cover;
//   }
.page {
  // background-color: #FAB83F!important;
  margin-bottom: 1px;
  
}
.icon {
  color: #FAB83F!important;
}
.header {
  font-family: 'Poppins', sans-serif;
}
.email {
  font-size: 1.3em;
  font-weight: 300;
}
  .logo-img {
    border-radius: 50%;
  }
  .buttons { 
    font-size: 15px;
  }

  .icons {
    background-color: #fff;
    border: 1px solid #7f8c8d;
    color: #7f8c8d;
    margin: 0;
    font-size: 0.9em;
}

.acc {
  border-bottom: 1px solid grey;
}

.check {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9em;
  font-weight: 700;
}

.name {
    margin: 0;
    font-weight: 700;
}

.handle {
    margin: 0;
}

.status {
    white-space: normal;
    color: #000;
    margin-top: 5px;
}

.item {
    align-items: baseline;
}

.button-container {
    align-self: flex-end;
    text-align: right;
}