<ion-row class="header" *ngFor="let item of profile">
  <ion-col col-4>
  </ion-col>
  <ion-col col-4>
    <div class="img">
      <img src={{item.img}} />
    </div>
  </ion-col>
  <ion-col col-4>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col col-12 class="button-container">
    <ion-row>
      <ion-col col-4>
        <div class="ion-text-center">
          <ion-button class="icons" color="warning" style="border: none;"><label for="input"
              style="font-size: 12pt; padding-top: 10px">
              <ion-icon name="image"></ion-icon>
            </label>
            <input id="input" type="file" class="hideInput" (change)="handleFileInput($event.target.files)">
          </ion-button>
        </div>
      </ion-col>
      <ion-col col-4>
        <div class="ion-text-center">
          <ion-button class="buttons" color="warning" (click)="editProfile()" class="icons" style="border: none;">
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col col-4>
        <div class="ion-text-center">
          <ion-button class="buttons" color="warning" (click)="settings($event)" class="icons" style="border: none;">
            <ion-icon name="cog"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>

<ion-row class="header" *ngFor="let item of profile">
  <ion-col col-12>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h4 class="name">{{item.name}}</h4>
        </div>

      </ion-col>
    </ion-row>
    <ion-card class="page">
      <ion-row>
        <ion-col col-1>
          <div class="ion-text-start email check">
            <ion-icon name="mail" class="icon"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-9>
          <div class="ion-text-start email">
            <p class="twittername">{{
              item.email}}</p>
          </div>

        </ion-col>
        <ion-col col-2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <div class="ion-text-start email check px-2">
            <ion-icon name="call" class="icon"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-8>
          <div class="ion-text-start email ">
            <p class="twittername">{{item.phonenumber}}</p>
          </div>
        </ion-col>
        <ion-col col-1>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-col>
</ion-row>

<ion-card class="page">

  <ion-row class="header acc">
    <ion-col col-4>
      <div class="ion-text-center">
        <strong>
          <h4 class="name">1</h4>
        </strong>
        <p class="accolades">Level</p>
      </div>


    </ion-col>
    <ion-col col-4>
      <div class="ion-text-center">
        <strong>
          <h4 class="name">1</h4>
        </strong>
        <p class="accolades">Points</p>
      </div>

    </ion-col>
    <ion-col col-4>
      <div class="ion-text-center">
        <strong>
          <h4 class="name">{{balance}}</h4>
        </strong>
        <p class="accolades">Wallet(Kshs)</p>
      </div>

    </ion-col>
  </ion-row>

  <ion-row class="header">
    <ion-col col-1>
      <div class="ion-text-center check">
        <ion-icon name="checkmark-circle-outline" class="icon"></ion-icon>
      </div>
    </ion-col>
    <ion-col col-10>
      <div class="ion-text-start">
        <strong>
          <p class="complete">Completed Surveys</p>
        </strong>
      </div>
    </ion-col>

    <ion-col col-1>
      <div class="ion-text-center">
        <strong>
          <h6 class="check">3</h6>
        </strong>
      </div>
    </ion-col>


  </ion-row>

</ion-card>