.example-menu-row {
    margin-bottom: 24px;
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .logo-img {
    border-radius: 50%;
  }