.tinder {
    width: 100%;
    height: 100%;
    overflow: hidden;
    // background-color: #FAB83F;
    border-radius: 30px 30px 30px 30px;
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
  }
  
  .tinder--status {
    position: absolute;
    top: 10%;
    margin-top: 55px;
    z-index: 2;
    width: 100%;
    text-align: center;
    pointer-events: none;
  }
  
  .tinder--cards {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .tinder--card {
    top: 100px;
    display: inline-block;
    width: 260px;
    height: 75%;
    background: #FFFFFF;
    // padding-bottom: 40px;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
  }
  .tinder--card img {
    object-fit: cover;
    width: 260px;
    height: 100%;
    position: relative;
  }
  .logo {
    width: 35px;
    // border: 2px solid black;
    position: absolute;
    top: 5px;
    left: 10px;
    // font-size: 15px;
  }

  .logo-img {
    border-radius: 50%;
    background-color: transparent;
  }

  .myOverlay{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    opacity: 0.7;
    background: #FAB83F;
    color: #fff;
    padding: 0px 0px;

    .overlayname {
      font-size: 1.3em;
      font-weight: 700;
      opacity: 1;
    }
  }

  .myswiper{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 99;
    bottom: 20px;
    opacity: 0.7;
    // background: grey;
    // color: #fff;
    padding: 0px 0px;

    .swiper {
      font-size: 1.3em;
      font-weight: 700;
      opacity: 1;
    }
  }

  .badge {
    // background: #000;
    // color: #fff;
    width: 35px;
    // border: 2px solid black;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
  }
  
  .tinder--buttons {
    position: absolute;
    flex: 0 0 100px;
    text-align: center;
    // bottom: 20px;
    left: 0;
    right: 0;
  }

  $width: 50px;

.swipe-hint{
  margin: 50px;
  background: #222;
	&.swipe-horizontal{
		position: relative;
		width: 150px;
		i{
			position: absolute;
			display: inline-block;
			color: #FFFFFF;
			border-radius: 100%;
			font-family: FontAwesome;
			animation: hint-finger ease-in 2s;
			animation-iteration-count: infinite;
			z-index: 100;
			font-size: 30px;
			
		}
		&:before{
				position: absolute;
				content: ' ';
				// background: linear-gradient(to right, rgba(30,87,153,1) 0%,rgba(44,102,165,0.5) 15%,rgba(124,184,231,0) 99%,rgba(125,185,232,0) 100%);;
				right: 8px;
				top: 0;
				width: 0;
				height: 20px;
				animation: hint-dot ease-in 2s;
				animation-iteration-count: infinite;
			}
	}
}

@keyframes hint-finger{
	0% {
		right: 0;
		transform: scale(1);
	}
	20% {
		right: 0;
		transform: scale(.7);
	}
	50% {
		right: $width;
		transform: scale(.7);
	}
	60% {
		transform: scale(1);
	}
	70% {
		right: $width;
	}
	100% {
		right: 0;
		transform: scale(1);
	}
}

@keyframes hint-dot{
	20% {
		opacity: 0;
		width: 0;
	}
	50% {
		opacity: .7;
		width: $width;
	}
	60% {
		opacity: 0;
		width: $width;
	}
	100% {
		opacity: 0;
		width: 0;
	}
}

#hideMe {
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
  }
}