<ion-header>

  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
    </ion-card-header>

    <ion-card-content>
      <ion-list inset>

        <form [formGroup]="editProfile">
          <ion-item lines="inset">
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            <ion-input type="email" formControlName="email" placeholder="Edit email" ></ion-input>
          </ion-item>

          <ion-item lines="inset">
            <ion-icon slot="start" name="phone-portrait"></ion-icon>        
            <ion-input formControlName="phone"  placeholder="Edit phone number" ></ion-input>
          </ion-item>

          <ion-item lines="inset">
            <ion-icon slot="start" name="person"></ion-icon>        
            <ion-input formControlName="username"  placeholder="Edit username" ></ion-input>
          </ion-item>

        </form>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="warning" class="login-button" (click)="update()" expand="block">Update
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>