img {
    border: 4px solid #FAB83E;
    border-radius: 5px;
    .welcome-img {
        width: 180px;
        height: 45px;
        
    }
}
h3 {
    font-weight: bolder;
}

//  <ion-buttons fill="outline">
// <div class="ion-text-center">
// <ion-button (click)="changeNumber()">
//   Change phone number
// </ion-button>
// </div>         
// </ion-buttons>