.background{
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
@media (prefers-color-scheme: light) {
    :root {
      --color-toolbar-background: white;
      --color-toolbar-text: black;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --color-toolbar-background: black;
      --color-toolbar-text: white;
    }
  }