<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let survey of surveys">
      <img src="https://picsum.photos/300" />
      <ion-card-header>
        <ion-card-subtitle>{{survey.name}}</ion-card-subtitle>
        <!-- <ion-card-title>Madison, WI</ion-card-title> -->
      </ion-card-header>
      <ion-card-content>
        <p>fill in this survey to earn KES 15</p>
        <ion-button expand="block" fill="outline" (click)="navigate(survey.id)"
          >Fill in</ion-button
        >
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
