
ion-slide {
    font-family: 'Poppins', sans-serif;
    padding: 100px 20px 160px 20px;
    display: block;
    margin-bottom: 40px;
    
    

    img {
        width: 120px;
    }

    h4 {
        padding-top: 25px;
        font-weight: bolder;
        
    }
}